.community-chat {
  .chat-content {
    width: 100%;
    height: 100%;

    .chat-list {
      height: calc(100% - 140px);
      padding: 0 16px;
      overflow-y: scroll;
      background-color: $background;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
