.community-chat {
  .chat-content {
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
    background-color: $background;

    &::-webkit-scrollbar {
      display: none;
    }

    .chat-list {
      padding: 24px 16px;

      .today {
        @include text-style(14, $main);
        width: 140px;
        margin: 0 auto;
        padding: 4px 0;
        margin-bottom: 16px;
        font-weight: 700;
        text-align: center;
        border-radius: 32px;
        border: 2px solid $main;
      }
    }
  }
}
