.main-content {
  &.detail {
    padding: 24px 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .detail-align-box-top {
      @include flexbox(between);
      margin-bottom: 24px;
      padding: 0 16px;
    }

    .post-author {
      @include flexbox(start);

      .author-image {
        width: 60px;
        height: 60px;
        margin-right: 8px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .author-name {
        @include text-style(18, $primary);
      }
    }

    .edit-button {
      @include text-style(13, $sub);
      padding: 8px 12px;
      background-color: $main;
      border-radius: 4px;
    }

    .post-content {
      margin-bottom: 24px;
      padding: 0 16px;

      .text {
        @include text-style(16, $primary);
        margin-bottom: 16px;
      }

      .image {
        width: 100%;
        height: 320px;
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .post-reaction-wrap {
      margin-bottom: 24px;
    }

    .my-reaction {
      @include flexbox;
      width: 100%;
      padding-bottom: 24px;
		

      & > button {
        @include flexbox;
        @include text-style(14, $tertiary);
        flex-basis: 50%;

        &:first-child {
          border-right: 1px solid $border;
        }

        .fa-message,
        .fa-heart {
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }

    .comment-box {
			padding: 0 16px;
			
      .comment-total {
        @include text-style(14, $dark);
        font-weight: 700;
        border-bottom: 1px solid $border;
      }

      .comment-list {
        margin-bottom: 24px;

        .comment-item {
          padding: 24px 0;
          border-bottom: 1px solid $border;

          .comment-user {
            @include flexbox(start);
            margin-bottom: 4px;

            .user-image {
              width: 32px;
              height: 32px;
              margin-right: 8px;
              border-radius: 50%;
              background-size: cover;
              background-repeat: no-repeat;
            }

            .user-name {
              @include text-style(14, $primary);
            }
          }

          .comment-info {
            margin-left: calc(32px + 8px);

            .content {
              @include text-style(14, $primary);
              margin-bottom: 2px;
            }

            .date {
              @include text-style(12, $secondary);
            }
          }
        }
      }
    }
  }
}
