.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  max-width: 500px;
  z-index: $header-level;
  padding: 0 16px;
  background-color: $sub;

  .logo {
    @include pos-center;
    width: 120px;

    img {
      width: 100%;
    }
  }
}
