.login-wrapper {
  &.join {
    .logo {
      top: 120px;
    }

    .content {
      align-items: center;
      height: 70%;
    }

    .submit-button {
      @include text-style(18, $main);
      width: 100%;
      padding: 12px 0;
      margin-top: 36px;
      font-weight: 700;
      text-align: center;
      background-color: $sub;
      border-radius: 4px;
      box-shadow: $dropdown-shadow;
      cursor: pointer;
    }
  }
}
