.post-reaction {
  @include flexbox(between);
  @include text-style(13, $primary);
  margin-bottom: 24px;

  .total-like {
    .fa-heart {
      color: $tertiary;
      margin-right: 4px;
    }

    &.is-active {
      color: $main;
    }
  }

  .date {
    @include text-style(13, $secondary);
  }
}
